<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../CSS/developer.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
</head>
<body>
    
  
  <div>
    <h1>Developers</h1>
    <div class="image-area">
        <div class="img-wrapper">
          <img src="../images/keshav.jpg" alt="bhaiji">
          <h2>Keshav Kant</h2>
          
          <ul>
          
            <li><a href="https://www.instagram.com/keshavkant_/" target="_blank"><i class="fab fa-instagram"></i></a></li>    
            <li><a href="https://www.linkedin.com/in/keshavkant-cseai/" target="_blank"><i class="fab fa-linkedin"></i></a></li>     
            <li><a href="https://github.com/Keshav-Kant" target="_blank"><i class="fab fa-github"></i></a></li>  
          </ul>
        </div>
      
        <div class="img-wrapper">
          <img src="../images/san.jpg" alt="Sand">
          <h2>Sandip Mali</h2>
        
          <ul>
            <li><a href="https://github.com/sandipmalii" target="_blank"><i class="fab fa-github"></i></a></li>
            <li><a href="https://www.instagram.com/sandipmalii/" target="_blank"><i class="fab fa-instagram"></i></a></li>
            <li><a href="https://twitter.com/sannmalli" target="_blank"><i class="fab fa-twitter"></i></a></li>
            <li><a href="https://www.youtube.com/channel/UCodlTZD1sar7KGuffG_AxhA" target="_blank"><i class="fab fa-youtube"></i></a></li>
            <li><a href="https://www.linkedin.com/in/sandipmali/" target="_blank"><i class="fab fa-linkedin"></i></a></li>  
          </ul>
        </div>
      </div>
      
      
            
              
          </div>
        </div>
      </div>
    </div>

</body>
</html>