.body{
  height: 500vh;
}

.mainm{
  position: relative;
  
}
/* 
footer {
  background-color: #000; 
  color: #fff;
  padding: 20px 0; 
  position: relative;
}

.footercontainer {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  
}

navdowm {
  margin-top: 10px;
  position: relative  ;
}

navdowm a {
  color: #fff;
  text-decoration: none;
  margin: 0 5px;
}

@media (max-width: 768px) {
  navdowm a {
    display: block;
    margin: 5px 0;
  }
} */



/*======Image=====*/
.maiimg {
  /* width: 350vh;
  margin: 5%;
  padding-top: 5%;
  padding-left: 15%; */
  
}

@media (min-width: 417px) and (max-width: 567px) {
  .maiimg {
    width: 50vh;
  }
}

@media (max-width: 768px) {
  .maiimg {
    width: 250vh;
    height: 400%;
  }
}


/*====Main text===*/

.side {
  position: absolute;
  top: 100px; /* Adjust as needed */
  right: 30px; /* Adjust as needed */
  padding: 10px; /* Optional padding */
 
}


.texxt {
  padding-top: 10%;
font-size: 4.5rem;
}



.bold {
font-weight: bold;
}

/*====Buttons====*/

/* Font Variables */
.buttonss {
font-family: 'Dosis', sans-serif;
font-family: 'Montserrat', sans-serif; /* Note: This will override the previous font-family declaration */
}

h1 {
color: white;
font: 1.5em;
letter-spacing: 1px;
text-align: center;
}

@media (min-width: 417px) and (max-width: 567px) {
h1 {
  font-size: 2em;
}
}

@media (min-width: 568px) {
h1 {
  font-size: 3em;
}
}

.containerr {
position: relative; /* Add position relative to the container */
display: flex;
flex-wrap: wrap;
justify-content: flex-end; /* Align items to the end */
padding-top: 26%;
}

.containerr .buttonss {
display: flex;
flex-direction: column;
position: relative;  
/* Add position absolute to the buttons */
bottom: 18vh; /* Position from the bottom */
right: 28%; /* Position from the right */
}

.containerr a {
padding: 15px 20px;
font: 13px;
font-weight: 700;
letter-spacing: 2px;
text-transform: uppercase;
text-decoration: none;
text-align: center;
margin: 1em;
}

.containerr a:hover {
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.20), 0 6px 20px 0 rgba(0, 0, 0, 0.20);
}

@media (min-width: 417px) and (max-width: 567px) {
.containerr a {
  padding: 15px 30px;
  font: 16px;
}
}

@media (min-width: 568px) {
.containerr a {
  padding: 15px 50px;
  font: 20px;
}
}

.buttonss3 {
color: white;
background: linear-gradient(to right, #8041F2, #3095ED);
/*===Back colors
background: linear-gradient(to right, #8041F2, #edd430);
  background: linear-gradient(to right, #f241ab, #edd430);
    background: linear-gradient(to right, #41f2b1, #edd430);
      background: linear-gradient(to right, #f2ab41, #edd430);
       background: linear-gradient(to right, #c041f2, #edd430);
       
*/
border-radius: 8px;
display: flex;
transition: .2s ease-in-out;

}

.buttonss3:hover {
border-radius: 30px;
}

/* Added styles for images within buttons */
.buttonss3 img  {
vertical-align: middle;
margin-right: 5px;
width: 30px;

}


/* =======RANKING======== */
  
table {
  width: 30%;
  border-collapse: collapse;
  margin: 0 auto; /* Center the table horizontally */
  border: 2px solid #ff7f50; /* Stylish border color */
  border-radius: 10px;
  width: 500px; /* Adjust width as needed */
 
}


thead {
  background-color: #333;
  color: #fff;
}

th, td {
  padding: 8px;
  border-bottom: 1px solid #555;
  color: #fff;
}

th {
  text-align: left;
}

tbody tr:hover {
  background-color: #555;
}

h3 {
  font-size: 1.5rem; /* Adjust the font size as needed */
  font-weight: bold; /* Adjust the font weight as needed */
  margin-top: 0; /* Remove default margin */
  color: #fff; /* Set color to white */
  position: relative; /* Required for positioning the pseudo-element */
  text-align: center;
  font-weight: bold; /* Adjust the font weight as needed */
}

h3::after {
  content: ''; /* Required for pseudo-elements */
  position: absolute;
  bottom: -5px; /* Adjust the distance from the text */
  left: 50%; /* Position at the center */
  transform: translateX(-50%); /* Center the underline horizontally */
  width: 200px; /* Adjust the width of the underline */
  height: 2px; /* Adjust the thickness of the underline */
  background-color: #ff7f50; /* Stylish underline color */
}

h4 {
  font-family:  LatoGeorgia;
  font-size: 1.5rem; /* Adjust the font size as needed */
  margin-top: 0; /* Remove default margin */
  color: #fff; /* Set color to white */
  position: relative; /* Required for positioning the pseudo-element */
text-align: center;
}


